
.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}


.flex-v-center {
    display: flex;
    align-items: center;
}
.centertext
{
  margin-left: auto;
    margin-right: auto;
    width: 55% !important;
}
.form-group label {
  font-size: 15px !important;
  padding-top: 2px !important;
  font-weight: 600 !important;
  /* font-size: inherit; */
}
.card {
  border: 0;
  border-radius: 30px !important;
}
.cardimage
{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  width:100%; 
  height:100%;
}


#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.imagediv
{
  margin-top: 5px; 
  width: auto;
  object-fit: contain;
  width: 40%;
}

.fileupload {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.rowdisplay {
    display: flex !important;
}

.solvedisplay {
    display: flex;
    margin-top: 10px;
    font-size: 21px
}

.fontsizexy {
    font-size: 12px;
}

.fileuploadcolor {
    background-color: white;
} 